/***************************************************              GENERAL RESET STYLES             ***************************************************/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
* {}
*:focus {outline: none;}
body {
    line-height:1;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}
nav ul {
    list-style:none;
}
ol, ul {
	list-style: none;
	margin:0;
	padding:0;
}
a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
	text-decoration:none;
}
a:hover {
	text-decoration:none;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
img {
	border-style:none;
	max-width:100%;
}
form fieldset {
	margin:0;
	padding:0;
	border:none;
}
input, textarea, select {
	vertical-align:middle;
	color:#000;
	padding:0;
}
input, select {
	vertical-align:middle;
}
input::-webkit-input-placeholder{color:#ebedec;}
input:focus::-webkit-input-placeholder{color:#ebedec;}
/*@media*/

/* @media (min-width: 1921px){} 													QHD \ UHD
@media (min-width: 1600px) and (max-width: 1919px) {}	HD +
@media (min-width: 1440px) and (max-width: 1599px) {}	macbook
@media (min-width: 1360px) and (max-width: 1439px) {}	HD
@media (min-width: 1280px) and (max-width: 1359px) {} IPAD2
@media (min-width: 1024px) and (max-width: 1279px) {} IPAD
@media (min-width: 896px) and (max-width: 1023px) {}	Ip Xs max horizontal
@media (min-width: 812px) and (max-width: 895px) {}		Ip Xs horizontal
@media (min-width: 768px) and (max-width: 811px) {}		Tablet
@media (min-width: 736px) and (max-width: 767px) {}		Ip 6,7,8 Plus horizontal
@media (min-width: 667px) and (max-width: 735px) {}		Ip 6,7,8 horizontal
@media (min-width: 568px) and (max-width: 666px) {}		Ip 5 horizontal
@media (min-width: 480px) and (max-width: 567px) {}		Ip 4 horizontal
@media (min-width: 414px) and (max-width: 479px) {}		Ip 6,7,8
@media (min-width: 320px) and (max-width: 413px) {}		Ip 4,5 */

/*@media end*/


#wrapper{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
header{
	width: 100%;
	display: block;
	position: relative;
  	background-color: #2D2D2D;

}

p{
	font-family: aller_lightregular;
}
.layout{
	position: relative;
	width: 768px;
	margin: auto;
}
.logo h1{
	float: left;
	text-indent: -99999px;
}
.header-navigation{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
	position: relative;
}
.header-navigation ul{
	display: flex;
	justify-content: left;
	list-style: none;
	width: 100%;
}

nav ul.navigation li a{
	display: block;
	padding: 36px 20px 18px;
	text-decoration: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 14px;
	font-family: 'allerbold';
}
nav ul.navigation li a:hover{
	color: #63BAA9;
	background: #35373a;
}
.button-burger{
	display: none;
	position: relative;
	z-index: 50;
	align-items: center;
	justify-content: flex-end;
	width: 30px;
	height: 40px;
	margin-left: 20px;
}
.button-burger span{
	height: 2px;
	width: 100%;
	transform: scale(1);
	background-color: #ebedec;
}
.button-burger::before, .button-burger::after{
	content: "";
	position: absolute;
	height: 2px;
	width: 100%;
	background-color: #ebedec;
	transition: all 0.3s ease 0s;
}
.button-burger::before{
	top: 8px;
}
.button-burger::after{
	bottom: 8px;
}
.button-burger.active span{
	transform: scale(0);
}
.button-burger.active::before{
	top: 50%;
	transform: rotate(-45deg) translate(0, -50%);
}
.button-burger.active::after{
	bottom: 50%;
	transform: rotate(45deg) translate(0, 50%);
}
.open{
	display: flex;
}
.banner{
	width: 100%;
	display: block;
}
.banner img{
	width: 100%;
	height: auto;
	margin-top: -2px;

}
main{
	margin-top: -3px;
	width: auto;
	height: auto;
	display: block;
	position: relative;
	background-color: #63BAA9;
}
.content-container{
	display: block;
	position: relative;
}
.title-container{
	padding: 40px 0;
	display: flex;
}
h2{
	font-size: 28px;
	color: #FFFFFF;
	text-align: left;
	font-family: allerbold;
	margin-right: 30px;
	display: inline-block;
}
span.line{
	flex-grow: 1;
	border-top: 3px solid #FFFFFF;
	margin-top: 15px;

}
.projects-container{
	position: relative;
	display: block;
	width: 100%;
	height: auto;
	overflow: hidden;
}
.projects-list{
	display: grid;
	position: relative;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 6px;
	grid-row-gap: 10px;
	margin-bottom: 75px;
}
li.project-item{
	display: block;
	position: relative;
	width: 252px;
	height: 154px;
	background-color: #FFFFFF;
}
li.project-item:nth-child(1){
	grid-column: 1 / 3;
	height: 248px;
	width: auto;
	background: #F7671D;
}
li.project-item:nth-child(2){
	height: 248px;
}
.project-item h3{
	font-family: aller_lightregular;
	padding: 40px 25px 20px 20px;
	text-transform: uppercase;
	font-size: 18px;
}
.projects-container p{
	font-size: 14px;
	line-height: normal;
	text-align: justify;
	color: #000;
}
.about-as p{
	padding: 0px 25px 0px 20px;
}
.project-item a{
	height: 100%;
	width: 100%;
	display: block;
}
.project-item p{
	text-align: justify;
	padding: 0 20px;

}
.about-project{
	display: block;
	position: absolute;
	bottom: 20px;
}

ol {
	counter-reset:num -1;
	list-style: none;
	margin: 0 0 20px 0;
	padding: 0 0 0 0;

}
ol li {
	counter-increment: num;
	position: relative;
	font-size: 16px;
}
ol li:before {
	content: counter(num);
	color: #D1751A;
	font-family: aller_lightregular;
	position: absolute;
	left: 22px;
	bottom: 56px;
	text-align: right;
	font-size: 23px;
}
ol li:nth-child(-n+10):before {
	content: "0" counter(num);
}
ol li.about-as:before {
	counter-increment: none;
	content: "";
}

footer{
	padding-bottom: 30px;
	width: auto;
	height: auto;
	display: block;
	position: relative;
	background-color: #303646;
	overflow: hidden;
}
.contacts-container {
	display: block;
	position: relative;
}
.contacts-title-container{
	padding-bottom: 10px;
	display: flex;
}
.form{
	display: block;
	position: relative;
	height: auto;
	float: left;
	width: 465px;
}
.social,.contact-info{
	display: block;
	position: relative;
	float: right;
	width: 280px;
}
.contacts-form label, input{
	display: block;
	position: relative;
}
.contacts-container h3{
	float: left;
	font-size: 14px;
	font-family: aller_lightregular;
	padding-right: 30px;
	color: #D1751A;
}
span.line-2{
	float: right;
	border-top: 1px solid #4E4D4D;
	margin-top: 7px;
	flex-grow: 1;
}
.contacts-form label{
	font-size: 12px;
	color: #868686;
	text-align: left;
	margin-top: 10px;

}
.contacts-form input[type="text"]{
	font-size: 12px;
	color: #000;
	background-color: #ebedec;
	width: 230px;
	height: 24px;
	border: 1px solid #ebedec;
	padding: 5px 10px;
}
.contacts-form textarea[type="text"]{
	width: 445px;
	height: 70px;
	color: #000;
	background-color: #ebedec;
	border: 1px solid #ebedec;
	padding: 5px 10px;
	resize: none;
}
.contacts-form input[type="button"]{
	width: 74px;
	height: 21px;
	background-color: #F7671D;
	font-size: 12px;
	padding: 0 3px;
	float: right;
	border: 1px solid #F7671D;
	color: #ebedec;
	margin-top: 5px;
	border-radius: 3px;
	cursor: pointer;
}
.social-icons-list{
	position: relative;
	padding-top: 15px;
	margin-bottom: 30px;
	list-style-type: none;
}
.social-icons-list li{
	display: inline-block;
}
.social-icons-list li i{
	padding-right: 4px;
}
.social-icons-list li .facebook, .instagram, .linkedin{
	width: 40px;
	height: 40px;
	display: inline-block;
	text-align: center;
	background: #ecf0f1;
	margin: 0 15px 15px 0;
	vert-align: middle;
	cursor: pointer;
	border: 1px solid #ebedec;
	border-radius: 100%;
	box-sizing: border-box;
	transition: all 0.2s ease-in-out;
	color: #4E4D4D;
	font-size: 18px;
	padding-top: 6px;
	line-height: 1.5em;
}
.social-icons-list li .facebook:hover{
	background-color: #414f91;
	border: 1px solid #414f91;
	color: #FFFFFF;
}
.social-icons-list li .instagram:hover{
	background: #d6249f;
	background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
	border: 1px solid #7239c8;
	color: #FFFFFF;
}
.social-icons-list li .linkedin:hover{
	background-color: #455c81;
	border: 1px solid #455c81;
	color: #FFFFFF;
}
.contact-info{
	display: block;
	position: relative;
}

.contact-info .contact-list{
	display: block;
	position: relative;
	margin-top: 10px;
}
.contact-list li{
	display: block;
	width: 100%;
	padding-top: 10px;
}
.contact-list li .icon-contact-list{
	display: inline-block;
	position: relative;
	padding-right: 20px;
}
.contact-list p{
	font-size: 14px;
	display: inline;
	vertical-align: super;
}
.img-pc{
	display: block;
	position: absolute;
	z-index: 10;
	top: 0;
	right: 0;
	margin-top: 19px;
	margin-right: 30px;
	transform: scale(1.4);
}
.mobile-menu{
	display: none;
}

@media (min-width: 320px) and (max-width: 769px) {
	#wrapper{
		overflow: hidden;
		margin-top: 0;
		margin-bottom: 0;
	}
	.layout{
		width: 100%;
	}
	header{
		height: auto;
		width: 100%;
	}
	.button-burger{
		display: flex;
	}
	.header-navigation{
		display: none;
		flex-direction: column;
		position: fixed;
		height: 100%;
		width: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 50;
		overflow-y: auto;
		padding-top: 40px;
		background-color: #4E4D4D;
		animation: burgerAnimation 0.4s;
	}
	.header-navigation ul{
		flex-direction: column;
		row-gap: 30px;
	}
	main{
		width: 100%;
		height: auto;
	}
	.title-container{
		padding: 20px;
	}
	.projects-list{
		grid-template-columns: repeat(2,1fr);
		margin: 0 10px 40px;
	}
	li.project-item{
		width: auto;
	}
	li.project-item:nth-child(2){
		height: 154px;
	}
	li.project-item:nth-child(1){
		height: auto;
		padding-bottom: 10px;
	}
	.project-item h3{
		padding: 20px 25px 20px 20px;
	}
	.img-pc{
		display: none;
	}
	.form, .social,.contact-info{
		width: 100%;
		padding: 10px;
		float: left;
	}
	.contacts-form input[type="button"]{
		float: none;
	}
	.contacts-form input[type="text"]{
		width: 90%;
	}
	.contacts-form textarea[type="text"]{
		width: 90%;
	}
	.social-icons-list{
		margin-bottom: 0;
	}
}
@media (max-width: 1200px){
	.img-pc{
		display: none;
	}
}
@keyframes burgerAnimation {
	from {opacity: 0}
	to {opacity: 1}
}